body{
    font-family: serif;
    font-weight: bold;
}
#box{
    font-family: serif;
    font-weight: bold;
    text-align: center;
    margin: 100px;
    padding: 10px;
    font-size: 17px;
    position: absolute;
}
#box button{
    width: 80px;
    background-color: hsla(170, 78%, 55%, 1);
    border-radius: 15px;
    border: none;
}
#yes {position: absolute;}
#no {position: absolute;}
#result{
    padding: 70px;
    border: none;
    font-size: 15px;
    box-shadow: 15px 15px 15px grey;
    text-align: center;
    justify-content: center;
    margin: 100px;
}
#result button{
    border-radius: 15px;
    background-color: #FFFFFF;
    width: 100px;
}
#result h1{
    text-align: top;
}
